# --- Django Settings ---
DEBUG=False
SECRET_KEY=your_strong_secret-key
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
CORS_ALLOWED_ORIGINS_STR=http://localhost:5173,http://localhost:5174

# --- Database Settings (PostgreSQL) ---
MYSQL_ROOT_PASSWORD=database_strong_password
MYSQL_ROOT_USER=database_user
MYSQL_DATABASE=database_name
MYSQL_HOST=database_host
MYSQL_PORT=database_port

# --- Logging ---
DJANGO_LOG_FILE=general.log
DJANGO_LOG_LEVEL=INFO

# --- Superuser (For automated setup) ---
DJANGO_SUPERUSER_EMAIL=your_superuser_email
DJANGO_SUPERUSER_PASSWORD=your_strong_superuser_password

# --- Chapa Settings ---
CHAPA_PUBLIC_KEY=your_chapa_public_key
CHAPA_SECRET_KEY=your_chapa_secret_key
CHAPA_ENCRYPTION_KEY=your_chapa_encryption_key

# --- Email settings ---
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=your-email@gmail.com

# --- RABBITMQ custom user and password ---
RABBITMQ_USER=your_user
RABBITMQ_PASS=your_passward

# --- Celery broker and result ---
CELERY_BROKER_URL=amqp://your_user:your_passward@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/0